// Footer - Park Photos Style
@use '../base/variables' as *;
@use '../base/spacing' as *;
@use '../base/typography' as *;

.footer {
  background-color: $scouting-dark-gray;  // BSA Dark Gray
  color: $text-light;
  padding: $space-16 0 $space-8 0;
  
  .container {
    display: grid;
    gap: $space-8;
    
    @media (min-width: $breakpoint-md) {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }
  
  &__section {
    h3 {
      font-family: $font-primary;  // BSA Primary for attention
      font-size: $font-size-h3;     // 24-32px
      color: $scouting-gold;        // BSA Gold
      margin-bottom: $space-4;
    }
    
    p {
      color: $scouting-light-tan;   // BSA Light Tan
      line-height: $line-height-relaxed;
      font-family: $font-tertiary;  // BSA Tertiary
    }
    
    ul {
      list-style: none;
      padding: 0;
      
      li {
        margin-bottom: $space-2;
      }
    }
    
    a {
      color: $scouting-light-tan;   // BSA Light Tan
      transition: color 0.2s ease;
      font-weight: bold;
      
      &:hover {
        color: $scouting-gold;      // BSA Gold
      }
    }
  }
  
  &__bottom {
    border-top: 1px solid $scouting-light-tan;  // BSA Light Tan
    margin-top: $space-8;
    padding-top: $space-6;
    text-align: center;
    color: $scouting-light-tan;  // BSA Light Tan
    font-size: $font-size-small;
    
    p {
      margin-bottom: 0;
      font-family: $font-tertiary;  // BSA Tertiary
    }
  }
}

// Contact Information Styling
.contact-info {
  address {
    font-style: normal;
    line-height: $line-height-relaxed;
    
    strong {
      display: block;
      color: $text-light;
      margin-bottom: $space-2;
    }
  }
}