{{!-- Source: https://www.carycamp.com/about/findus.php --}}
<h1>Finding Cary Camp</h1>
<p>Cary Camp is located on Indiana State Road 26, about a mile and a half east of Lafayette and I-65. The camp is on the north side of the road; signs warn of the entrance but the highway-style signage at the entrance is minimal.</p>
<p><a href="http://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=Cary+Camp,+Lafayette,+IN">View Larger Map</a></p>
<footer>Last modified: May 3, 2012</footer>