{{!-- Source: https://www.carycamp.com/bloodgood-trail/ --}}
<h1>Bloodgood Trail</h1>
<p>The Bloodgood Trail is the longest hiking trail at Cary Camp. Hikers who complete the trail can purchase the Bloodgood Trail patch at the Trading Post.</p>
<p><img src="https://www.carycamp.com/bloodgood-trail/patch.png" alt="Bloodgood Trail patch"></p>
<footer>Last modified: September 10, 2025</footer>