{{!-- Source: https://www.carycamp.com/bricks/ --}}
<h1>Scheumann Plaza Commemorative Bricks</h1>
<p>You can memorialize names by having an inscribed brick placed in Scheumann Plaza. For each $50 gift, a 4" x 8" brick is etched with two lines of text (14 characters per line).</p>
<p><img src="https://www.carycamp.com/bricks/plaza.jpg" alt="Scheumann Plaza"></p>
<footer>Last modified: June 16, 2020</footer>