{{!-- Source: https://www.carycamp.com/compasscourse/ --}}
<h1>Cary Camp Compass Course</h1>
<p>The camp has thirty orienteering waypoints with GPS coordinates. Downloadable files include locations.pdf and bearings.pdf; a Garmin GeoDatabase file is also available.</p>
<p><img src="https://www.carycamp.com/compasscourse/orienteering_symbol_1.png" alt="orienteering symbol"></p>
<footer>Last modified: December 10, 2020</footer>