{{!-- Source: https://www.carycamp.com/facilities/health.php --}}
<h1>Health Lodge</h1>
<p>The Health Lodge houses the camp Health Officer and basic medical care. It stores medications during camp sessions and is air-conditioned.</p>
<p><img src="https://www.carycamp.com/facilities/trade_health_exterior.jpg" alt="Health Lodge exterior"></p>
<footer>Last modified: December 4, 2018</footer>