{{!-- Source: https://www.carycamp.com/facilities/mcallister.php --}}
<h1>McAllister Scouting Center</h1>
<p>McAllister Scouting Center includes large and small meeting rooms, a commercial kitchen, training rooms, and McAllister Hall (dining area) with capacity around 275. It is frequently used for banquets, Pinewood Derby, and other events.</p>
<p><img src="https://www.carycamp.com/facilities/McAllister_Hall.jpg" alt="McAllister Hall"></p>
<footer>Last modified: July 29, 2020</footer>