{{!-- Source: https://www.carycamp.com/facilities/shelters.php --}}
<h1>Shelters</h1>
<p>Cary Camp has six shelters (including a Teepee and the Warner Learning Center). Most are wired for electricity and are available for rental. Examples include Moser Shelter, Newell Shelter (with fireplace), Osco Drug Shelter, and Raisor Shelter.</p>
<p><img src="https://www.carycamp.com/facilities/shelters_newell.jpg" alt="Newell Shelter"></p>
<footer>Last modified: July 29, 2020</footer>