{{!-- Source: https://www.carycamp.com/facilities/recreational.php --}}
<h1>Recreational Facilities and Equipment</h1>
<p>Cary Camp offers a swimming pool, rifle/BB/archery ranges, a bouldering wall, basketball court, horseshoe area, sports field, obstacle course, hiking trails, and canoes (with lifejackets and paddles).</p>
<p><img src="https://www.carycamp.com/facilities/recreational_canoe.jpg" alt="canoe"></p>
<footer>Last modified: July 5, 2025</footer>