{{!-- Source: https://www.carycamp.com/facilities/campsites.php --}}
<h1>Campsites</h1>
<p>Cary Camp has five campsites (Eagle's Nest, Mosquito Range, Shady Nook, Ivy Haven, Black Snake Flats) with running water, sanitary facilities, and picnic tables under shelter roofs. There are also two reserve campsites: Indian Village and Pine Valley.</p>
<p><img src="https://www.carycamp.com/facilities/campsites_mosquito.jpg" alt="Mosquito Range campsite"></p>
<footer>Last modified: July 29, 2020</footer>