{{!-- Source: https://www.carycamp.com/facilities/cabins.php --}}
<h1>Cabins</h1>
<p>Cary Camp has three cabins: Tecumseh Lodge, Shawnee Cabin, and Sioux Cabin. Capacities and amenities vary; Tecumseh can sleep up to 38, while Shawnee and Sioux each accommodate around 18.</p>
<ul>
  <li><a href="/facilities/cabin_tecumseh.php">Tecumseh Lodge</a></li>
  <li><a href="/facilities/cabin_shawnee.php">Shawnee Cabin</a></li>
  <li><a href="/facilities/cabin_sioux.php">Sioux Cabin</a></li>
</ul>
<footer>Last modified: July 29, 2020</footer>