{{!-- Source: https://www.carycamp.com/facilities/ --}}
<h1>Facilities</h1>
<p>Cary Camp has a wide variety of facilities available for rental: campsites, cabins, shelters, McAllister Scouting Center, a trading post, health lodge, recreational facilities and an outdoor chapel.</p>
<ul>
  <li><a href="/facilities/campsites.php">Campsites</a></li>
  <li><a href="/facilities/cabins.php">Cabins</a></li>
  <li><a href="/facilities/shelters.php">Shelters</a></li>
  <li><a href="/facilities/mcallister.php">McAllister Scouting Center</a></li>
</ul>
<p><img src="https://www.carycamp.com/facilities/index_council_ring.jpg" alt="Council ring"></p>
<footer>Last modified: December 4, 2018</footer>