{{!-- Source: https://www.carycamp.com/facilities/chapel.php --}}
<h1>Chapel</h1>
<p>The Lowell Joseph Highley Memorial Chapel is an outdoor chapel seating about 100 people. It is available for public and Scout use; non-Scout groups must submit forms and proof of insurance.</p>
<p><img src="https://www.carycamp.com/facilities/chapel_view.jpg" alt="view of chapel"></p>
<footer>Last modified: May 3, 2012</footer>