{{!-- Source: https://www.carycamp.com/policies.php --}}
<h1>Camp Usage Policies</h1>
<h2>Reservations</h2>
<p>All reservations are first come, first served. Reservations will not be held more than one week without receipt of fees and a copy of the Sagamore Council Camp Permit. Make reservations at least two weeks prior to desired usage date.</p>
<h2>Safety</h2>
<ul>
  <li>Park vehicles in provided parking lots.</li>
  <li>Check in and out with the Camp Ranger.</li>
  <li>No illegal drugs or alcohol on Scout properties.</li>
  <li>Open fires only in provided fire rings.</li>
</ul>
<footer>Last modified: May 3, 2012</footer>