{{!-- Source: https://www.carycamp.com/ranger/ --}}
<h1>Camp Ranger</h1>
<p>Becky Wellner is the current Cary Camp Ranger. To contact the ranger, email <a href="mailto:ranger@carycamp.com">ranger@carycamp.com</a> or call 765-447-1990.</p>
<p>Previous rangers are listed on this page along with a recognition plaque image.</p>
<p><img src="https://www.carycamp.com/ranger/wellner.jpg" alt="Ranger Becky Wellner"></p>
<footer>Last modified: March 9, 2020</footer>