{{!-- Source: https://www.carycamp.com/weddings/ --}}
<h1>Weddings and Special Events</h1>
<p>Cary Camp hosts rustic weddings, family reunions, retreats and more. The camp's outdoor setting and facilities support a wide range of events. Contact the ranger at <a href="mailto:ranger@carycamp.com">ranger@carycamp.com</a> for information.</p>
<p><img src="https://www.carycamp.com/weddings/bridge.jpg" alt="weddings"></p>
<footer>Last modified: January 21, 2022</footer>