// Base Reset and Global Styles
@use 'sass:color';
@use 'variables' as *;
@use 'typography' as *;
@use 'spacing' as *;

// CSS Reset
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: $line-height-normal;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  color: $text-primary;
  background-color: $primary-light;
  line-height: $line-height-normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Typography Elements
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  font-weight: $font-weight-semibold;
  line-height: $line-height-tight;
  color: $text-primary;
  margin-bottom: $space-4;
  
  &:not(:first-child) {
    margin-top: $space-8;
  }
}

h1 { font-size: $font-size-4xl; }
h2 { font-size: $font-size-3xl; }
h3 { font-size: $font-size-2xl; }
h4 { font-size: $font-size-xl; }
h5 { font-size: $font-size-lg; }
h6 { font-size: $font-size-base; }

p {
  margin-bottom: $space-4;
  line-height: $line-height-relaxed;
}

// Links
a {
  color: $link-color;
  text-decoration: none;
  transition: color 0.2s ease;
  
  &:hover {
    color: $link-hover;
  }
  
  &:focus {
    outline: 2px solid $focus-color;
    outline-offset: 2px;
  }
}

// Images
img {
  max-width: 100%;
  height: auto;
  display: block;
}

// Lists
ul,
ol {
  margin-bottom: $space-4;
  padding-left: $space-6;
}

li {
  margin-bottom: $space-2;
}

// Accessibility
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}